BasedOnStyle: InheritParentConfig
DisableFormat: false

ColumnLimit: 100

# Uniform `type path name` order, with pointers styled as similarly to qualifiers (surrounded by
# spaces) as clang-format allows.
PointerAlignment: Middle
QualifierAlignment: Right
SpaceAroundPointerQualifiers: Both
